/*STYLE BY TAGNAME*/

input {
  border: 1px solid black !important;
}

main {
  justify-content: space-between;
}

/*STYLE BY CLASSNAME*/

.form {
  height: 30vh;
}

.collapse-container {
  width: 25vw;
}

/*MEDIA QUERIES*/

@media (max-width: 600px)  {
  .collapse,
  .collapse-container {
    width: 90vw;
  }
}